@font-face {
  font-family: myFont;
  src: url(GODOFWAR.TTF);
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  height: 100vh;
  background: linear-gradient(blue, red) no-repeat fixed;
  font-family: 'myFont';
}